.group {
    background-image: url("../../images/regular_like.svg");
    width: 22px;
    height: 19px;
    transition: opacity .2s linear;
}

.group:hover {
    opacity: 0.5;
}

.group:active {
    opacity: 1;
    background-image: url("../../images/like_active.svg");
}
