.cross {
    all: unset;
    background-image: url("../../images/Close_Icon.svg");
    position: relative;
    right: -8px;
    top: -190px;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    color: #000;
}

@media screen and (max-width: 700px) {
    .cross {
        background-image: url("../../images/Close_Icon_small.svg");
        width: 20px;
        height: 20px;
        right: 19px;
        top: -190px;
    }
}

.cross:hover {
    transition: opacity .2s linear;
    opacity: 0.6;
}
